/**
 * Created with Moqisoft.
 * Date: 13-8-28
 * Time: 上午10:09
 */

@charset "utf-8";
/* @import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400); */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/dazS1PrQQuCxC3iOAJFEJTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}


body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 14px/1.5 arial, tahoma, "Microsoft YaHei", \5b8b\4f53;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

embed, object, iframe {
  width: 100%;
  height: auto;
}


body {
  min-height: 600px;
  background: #FFF;
  color:#333;
  word-wrap:break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

em, i {
  font-style: normal;
}

fieldset, img {
  border: 0;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  color:#333;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: #7CC576;
  text-decoration: underline;
}

button, input, select, textarea {
  font-size: 100%;
  outline: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

/* sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top :0;
  width: 40px;
  height:100%;
  background: #222;
}
.sidebar a{display:inline-block;float: left;width:40px;height:40px;border-bottom: 1px solid #333;}
.sidebar a em{display:block;width:40px;height:40px;background:url(images/icon.png);opacity:.4;filter:alpha(opacity=40);cursor:pointer;}
.sidebar a:hover{background: #111;}
.sidebar a:hover em{opacity:1;filter:alpha(opacity=100);transition: all 0.6s ease 0s;}
.sidebar a#back_top{position:absolute;bottom:0;left:0;border-top: 1px solid #333;}
.sidebar a#back_top em{background-position:0 -40px;}
.sidebar a.show-menu{display:none;}

.container{margin:80px 40px 0 80px;padding:0 300px 0 200px;max-width:760px;}
.navigation{position:relative;float:left;width:200px;margin-left:-200px;left:0;}
.widget-area{float:right;width:300px;margin-right:-300px;}
.main{position:relative;left:0;float:right;width:100%;}
.main .container{margin: 0 20px 0 40px;padding: 0;}

.navigation, .widget-area{font-size:12px;}
.navigation .site-title{}
.navigation .site-description{margin-top:12px;font-weight: normal;}
.navigation .main-sidebar{margin-top:12px;font-weight: normal;padding-bottom: 40px;}
.widget{margin-top:35px;padding-top:35px;border-top:1px solid #E5E5E5;}
.widget-title, .widget ul.menu li{font-weight:bold;text-transform:uppercase;}
.widget ul.menu li a{display: block;}
.widget ul li{line-height:20px;margin-top:10px;}


.post-list li{margin-bottom: 80px;padding-top:60px;border-top:1px solid #E5E5E5;}
.post-list li:first-child{padding-top: 0;border-top:0;}
.post-list .entry-title{margin:-5px 0 12px;line-height:1.3;font-family:'Roboto Slab',"Microsoft YaHei";font-weight:normal;font-size: 30px;text-rendering:optimizelegibility;}
.post-list .entry-meta{margin-bottom:40px;color:#AAA;}
.post-list .entry-meta .sep{border-top: 1px solid #ECECEC;display: block;margin: 15px 0 10px 0;}
.post-list .entry-meta .author a, .post-list .entry-meta .category a{color:#7CC576;}
.post-list .entry-meta .date, .post-list .entry-meta .comment{margin-right: 10px;color:#AAA;font-size:12px;}
.post-list .entry-meta .date a, .post-list .entry-meta .comment a{color:#AAA;}
.post-list .entry-meta .date a:hover, .post-list .entry-meta .comment a:hover{color:#7CC576;text-decoration: none;}
.entry-thumbnail{margin-bottom: 30px;}
.post-list .more-link{margin-top:30px;display:inline-block;font-size: 12px;height:20px;line-height: 20px; padding: 5px 12px;text-decoration: none;border-radius: 2px;background: #333;color:#FFF;}
.post-list .more-link:hover{background: #7CC576;}
.post-content{font-family:'Roboto Slab',Arial,"Microsoft YaHei";font-size: 14px;line-height: 25px;}
.post-content p{margin: 0 0 12.5px;}
.nav{margin-bottom:60px;border-top:1px solid #ECECEC;border-bottom:1px solid #ECECEC;}
.nav .nav-previous, .nav .nav-next{
  display:block;float:left;width:50%;height:100px;text-align: left;
}
.nav .nav-next{border-left:1px solid #ECECEC;margin-left: -1px;text-align: right;}
.nav span{display:block;margin:0 10px;padding-left: 40px;}
.nav .nav-next span{padding-left:0;padding-right:40px;}
.nav .arr{
  float:left;display:inline-block;width:36px;height:36px;margin-top:32px;margin-left:-50px;
  text-align:center;text-decoration: none;line-height:36px;font-size:24px;font-family:"Consolas";
  border-radius: 2px;background: #333;color:#FFF;
}
.nav .nav-next .arr{float:right;margin-right:-50px;}
.nav .arr:hover {background: #7CC576;transition: background 0.2s ease 0s;}
.pager-title{
  display:inline-block; float:left; width:94%; height:36px;margin-top:32px;
  font-size:16px;line-height:36px; font-weight:bold; 
  white-space: nowrap; overflow:hidden; text-overflow:ellipsis;
}
.nav .nav-next .pager-title{
  float:right;
}




.footer{display:block;clear:both;margin:0 40px 20px 80px;padding:10px 0 20px;border-top:2px solid #222;font-size: 12px;}







/* 响应式 */
@media(max-width:1200px) {
  .container{padding-right:0;margin-right:20px;}
  .widget-area{display:none;}
}
@media(max-width:800px) {
  body{overflow-x:hidden;}
  .container{padding-left:0;margin-left:0;margin-top:60px;margin-right:20px;}
  .sidebar{width:100%;height:40px;}
  .navigation{display:none;}
  .main{position:relative;}
  .main .container{margin:0 0 0 20px;}
  .post-list .entry-title{font-size:24px;}
  .post-list .entry-meta{margin-bottom:20px;}
  .entry-thumbnail{margin-bottom:20px;}
  .post-list li{margin-bottom:50px;padding-top:40px;}
  .post-list .more-link{margin-top: 15px;}
  .footer{margin-left:20px;margin-right:20px;}
  .nav span.nav-next a{max-width:80%;}
  .sidebar a{border-bottom:0;border-right:1px solid #333;}
  .sidebar a#back_top{display: none;}
  .sidebar a.show-menu{display:inline-block;}
}























