<div class="footer clearfix">
	Copyright 2014. All right reserved. Finally released in {{ site.time }}
</div>
<script type="text/javascript" src="{{ site.asset_path }}/js/jquery.js"></script>
<script type="text/javascript" src="{{ site.asset_path }}/js/main.js?v={{ site.version }}"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7842b61458b66d9fc9f3f868af87d18b' type='text/javascript'%3E%3C/script%3E"));
</script>
