<div class="navigation">
	<h1 class="site-title"><img src="{{ site.asset_path }}/images/logo.png" alt=""></h1>
	<h2 class="site-description">
		i'm minion and i'm a coder. <br>welcome to my humble blog. <br>i love coding and blogging and taking great photos.	
	</h2>
	<div class="main-sidebar">
		<div class="widget">
			<ul class="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">About me</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="widget">
			<h3 class="widget-title">Categories</h3>
			<ul>
				<li><a href="#">Creativity</a></li>
				<li><a href="#">Delicious</a></li>
				<li><a href="#">Freelancing</a></li>
				<li><a href="#">Photography</a></li>
			</ul>
		</div>
		<div class="widget">
			<h3 class="widget-title">Archives</h3>
			<ul>
				<li><a href="#">June 2013</a></li>
				<li><a href="#">Delicious</a></li>
				<li><a href="#">Freelancing</a></li>
				<li><a href="#">Photography</a></li>
			</ul>
		</div>
		<div class="widget">
			<h3 class="widget-title">Link</h3>
			<ul>
				<li><a href="#">June 2013</a></li>
				<li><a href="#">Delicious</a></li>
				<li><a href="#">Freelancing</a></li>
				<li><a href="#">Photography</a></li>
			</ul>
		</div>
	</div>
</div>