<div class="navigation">
	<h1 class="site-title"><img src="{{ site.asset_path }}/images/logo.png" alt=""></h1>
	<h2 class="site-description">
		i'm minion and i'm a coder. <br>welcome to my humble blog. <br>i love coding and blogging and taking great photos.	
	</h2>
	<div class="main-sidebar">
		<div class="widget">
			<ul class="menu">
				<li><a href="{{ site.url }}">Home</a></li>
				<li><a href="{{ site.url }}/about/">About me</a></li>
				<li><a href="{{ site.url }}/contact/">Contact</a></li>
			</ul>
		</div>
		<div class="widget">
			<h3 class="widget-title">Categories</h3>
			<ul class="small-list">
				{% for cat in site.categories %}
				<li><a href="#{{ cat[0] }}">{{ cat[0] }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="widget" style="display:none;">
			<h3 class="widget-title">Archives</h3>
		</div>
		<div class="widget">
			<h3 class="widget-title">Link</h3>
			<ul class="small-list">
				{% for link in site.data.links %}
				<li><a target="_blank" href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>