<div class="navigation">
	<h1 class="site-title"><img src="{{ site.asset_path }}/images/logo.png" alt=""></h1>
	<h2 class="site-description">
		 我是pangnate，欢迎来我的博客<br>这里是我记录工作及生活的一些文字<br>我喜欢代码，就像花儿一样	
	</h2>
	<div class="main-sidebar">
		<div class="widget">
			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/about/">About me</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</div>
		<div class="widget">
			<h3 class="widget-title">Categories</h3>
			<ul class="small-list">
				{% for cat in site.categories %}
				<li><a href="#{{ cat[0] }}">{{ cat[0] }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="widget" style="display:none;">
			<h3 class="widget-title">Archives</h3>
		</div>
		<div class="widget">
			<h3 class="widget-title">Link</h3>
			<ul class="small-list">
				{% for link in site.data.links %}
				<li><a target="_blank" href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
