<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>{{ page.title }}</title>
	{% include res.html %}
</head>
<body>

{% include g-nav.html %}

<div class="top-blank"></div>
<div class="wrapper content-wrapper">
	<div class="content">
		<ol class="post-list">
			{% for post in paginator.posts %}
			<li>
				<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
				<div class="base-info">
					<span class="author">By: <strong>{{ site.author }}</strong></span>
					{% if post.categories.size > 0 %}
					<span class="category">
						Category:
						{% for category in post.categories %}
						<a href="{{ site.baseurl }}/category/{{ category }}">{{ category }}</a>
						{% endfor %}
					</span>
					{% endif %}
					<span class="post-date">Date: {{ post.date | date: "%Y/%m/%d" }}</span>
					<a id="uyan_count_unit" rel="nofollow" class="comment-count" href="{{ site.baseurl }}{{ post.url }}/#comment">0评</a>
				</div>
				{% if post.cover %}
				<div class="cover">
					<img src="{{ site.baseurl }}{{ site.uploads_path }}{{ post.cover }}" alt="">
				</div>
				{% endif %}
				<div class="summary clearfix">
					{% if post.thumb %}
					<div class="thumb">
						<img src="{{ site.baseurl }}{{ site.uploads_path }}{{ post.thumb }}" alt="">
					</div>
					{% endif %}
					{{ post.excerpt | strip_html }}
					<a rel="nofollow" href="{{ site.baseurl }}{{ post.url }}">Read...</a>
				</div>
				{% if post.tags.size > 0 %}
				<div class="tags">
					<span>Tags: </span>
					{% for tag in post.tags %}
					<span><a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a></span>
					{% endfor %}
				</div>
				{% endif %}
			</li>
			{% endfor %}
		</ol>

		<!-- Pagination links -->
		<div class="simple-nav">
			{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
			<a href="/">&lt;</a>
			{% else %}
			<a href="/page/{{ paginator.previous_page }}" class="previous">&lt;</a>
			{% endif %}
			{% else %}
			<span>&lt;</span>
			{% endif %}
			{% if paginator.next_page %}
			<a href="/page/{{ paginator.next_page }}">&gt;</a>
			{% else %}
			<span&gt;</span>
			{% endif %}
		</div>

	</div>
	{% include sidebar.html %}
</div>

{% include footer.html %}

</body>
</html>