<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>首页 {{ page.title }}</title>
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>

{% include g-nav.html %}

<div class="top-blank"></div>
<div class="wrapper content-wrapper">
	<div class="content">
		<ol class="post-list">
			<li>
				<h1><a href="#">Get Personal Finance App You Need A Budget for 75% Off</a></h1>
				<div class="base-info">
					<span class="author">By: <strong>胖纳特</strong></span>
					<span class="category">Category: <a href="#">文章分类</a></span>
					<span class="post-date">Date: 2013/08/28</span>
					<a rel="nofollow" class="comment-count" href="http://pangnate.com/_layouts/index.html#comment">0评</a>
				</div>
				<div class="summary">
					Windows and OS X: Reader favorite personal finance tool You Need a Budget (YNAB) gets a heavy discount over on Steam. Regularly priced at $60, you can pick up a copy for only $15 through August 29th.
					<a href="#">Read...</a>
				</div>
				<div class="tags">
					<span>Tags:</span>
					<span><a href="#">标签1</a></span>
					<span><a href="#">标签1</a></span>
					<span><a href="#">标签1</a></span>
					<span><a href="#">标签1</a></span>
					<span><a href="#">不一样的交互组件不一样的交互组件</a></span>
					<span><a href="#">不一样的交互组件不一样的交互组件</a></span>
					<span><a href="#">不一样的交互组件不一样的交互组件</a></span>
				</div>
			</li>
			<li>
				<h1><a href="#">不一样的交互组件不一样的交互组件不一样的交互组件不一样的交互组件不一样的交互组件不一样的交互组件</a></h1>
				<div class="base-info">
					<span class="author">By: <strong>胖纳特</strong></span>
					<span class="category">Category: <a href="#">文章分类</a></span>
					<span class="post-date">Date: 2013/08/28</span>
					<a rel="nofollow" class="comment-count" href="http://pangnate.com/_layouts/index.html">0评</a>
				</div>
				<div class="cover">
					<img src="../images/ku-bigpic.jpg" alt="">
				</div>
				<div class="summary">
					标准的文件上传组件是由“输入框（伪）+浏览按钮+提交按钮”组成。之说以称之为“伪输入框”是因为它主要承担显示文件路径的作用，于是Firefox下点击这个输入框是开始文件选择操作，chrome更是把伪输入框改造成了按钮，还原控件最原始的作用。
					<a href="#">Read...</a>
				</div>
			</li>
			<li>
				<h1><a href="#">不一样的交互组件（中）【碳酸饮料会】</a></h1>
				<a class="comment-count"></a>
				<div class="summary">
					<div class="thumb">
						<img src="../images/pt-tianhong.png" alt="">
					</div>
					标准的文件上传组件是由“输入框（伪）+浏览按钮+提交按钮”组成。之说以称之为“伪输入框”是因为它主要承担显示文件路径的作用，于是Firefox下点击这个输入框是开始文件选择操作，chrome更是把伪输入框改造成了按钮，还原控件最原始的作用。标准的文件上传组件是由“输入框（伪）+浏览按钮+提交按钮”组成。之说以称之为“伪输入框”是因为它主要承担显示文件路径的作用，于是Firefox下点击这个输入框是开始文件选择操作，chrome更是把伪输入框改造成了按钮，还原控件最原始的作用。
					<a href="#">Read...</a>
				</div>
			</li>
		</ol>
		<div class="comment">
			<div id="uyan_frame"></div>
		</div>
		<!-- UY END -->
	</div>
	<div class="sidebar">
		<div class="block"></div>
	</div>
</div>


{% include footer.html %}
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=95170"></script>
</body>
</html>